body{
    background-color: rgb(255, 200, 200)), 0.288);
    

font-size: 30px;
text-align: justify;
color:rgb(22, 2, 2);
}
h1 { 
    color:rgb(214, 3, 56));
    font-size: 50px;
    text-align: center;
}